*{
    background-color: #f8f6f0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=text]{
    color: #6d6a63 !important;
    border: 1px solid #6d6a63;
    height: 1.5rem;
    width: 15rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

#nome{
    margin-top: 1rem;
    margin-left: 0.4rem;
}

#serie{
    margin-top: 1rem;
    margin-left: 0.9rem;
}

#topico{
    margin: 1rem 0rem;
}

label{
    color: #6d6a63;
    font-size: 1.5rem;
}


input[type=submit]{
    color: #f8f6f0 !important;
    background-color: #6d6a63 !important;
    box-shadow: 3px 3px 3px #6d6a633a;
    font-size: 1.1em;
    margin-bottom: 1rem;
    width: 26.5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover{
    box-shadow: 4px 4px 4px #6d6a633a;
    transform: scale(1.02);
    transition-duration: 0.5s;
}

#tabela{
    border: 2px solid #6d6a63;
    color: #6d6a63;
}

th, td{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

@media only screen and (max-width:800px){
    label{
        font-size: 1.1rem;
    }

    #serie{
        margin-left: 0.7rem;
    }

    input[type=submit]{
        width: 18.7rem;
    }
    
    input[type=text]{
        font-size: 1rem;
        height: 1.5rem;
        width: 10rem;
    }

    #tabela{
        border: 1px solid #6d6a63;
    }
    
    th, td{
        padding: 0.2rem 0.7rem;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width:580px){
    label{
        font-size: 1rem;
    }

    #serie{
        margin-left: 0.7rem;
    }

    input[type=submit]{
        width: 18.7rem;
    }
    
    input[type=text]{
        font-size: 1rem;
        height: 1.5rem;
        width: 10rem;
    }

    #tabela{
        border: 1px solid #6d6a63;
    }
    
    th, td{
        padding: 0.1rem 0.6rem;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width:480px){
    th, td{
        padding: 0.1rem 0.4rem;
        font-size: 0.5rem;
    }
}